<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="danbaixi" />
    <title>站库 - 优质网站收藏库</title>
    <meta name="keywords" content="网址导航,设计资源,UI设计,网址大全,设计师导航,优秀网站,网站推荐,站库">
    <meta name="description" content="站库 - 优质网站收藏库">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/xenon-core.css">
    <link rel="stylesheet" href="assets/css/xenon-components.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/art-template.js"></script>
    <script src="assets/js/source.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?193b12c1d2e86b55378df6ab2b47e6d5";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
        
</head>
<body class="page-body">
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo hidden-xs">
                        <a href="index.html" class="logo-expanded">
                            <img src="assets/images/logo@2x.png" width="100%" alt="" />
                        </a>
                        <a href="index.html" class="logo-collapsed">
                            <img src="assets/images/logo-collapsed@2x.png" width="40" alt="" />
                        </a>
                    </div>
                    <div class="mobile-logo visible-xs">
                        <a href="index.html" class="logo-expanded">
                            <img src="assets/images/logo@2x.png" width="100%" alt="" />
                        </a>
                    </div>
                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="fa-bars"></i>
                        </a>
                    </li>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa-bars"></i>
                        </a>
                    </div>
                </header>
                <div class="search">
                    <form>
                        <div class="form-group">
                            <i class="fa fa-search"></i>
                            <input class="form-control" type="text" name="search" placeholder="搜索网站">
                        </div>
                    </form>
                </div>
                <div class="total hidden-xs">
                    <p>已收集了 <span class="nav-total">0</span> 个优质网站</p>
                </div>
                <div id="menu-content"></div>
                <div class="submit-site">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#submitSite">提交网站</a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <a class="hidden-xs" href="https://github.com/danbaixi/zhanku" target="_blank">
                <img class="github" src="assets/images/forkme_right_darkblue.png" alt="Fork me on GitHub">
            </a>
            <!-- 列表 -->
            <div id="nav-list"></div>
        </div>
        <div class="modal fade" id="submitSite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">感谢您向我们提交优秀网站</h4>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="440" frameborder="no" src="https://uva9tg.fanqier.cn/f/oxkkabys"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- 目录模板 -->
<script id="menu" type="text/html">
<ul id="main-menu" class="main-menu">
{{each list l}}
<li>
    <a href="#{{l.title}}" class="smooth">
        <i class="fa fa-{{l.icon}}"></i>
        <span class="title">{{l.title}}</span>
        {{if l.label}}
        <span class="label pull-right hidden-collapsed label-{{l.label.color}}">{{l.label.title}}</span>
        {{/if}}
    </a>
    {{if l.child}}
        <ul>
            {{each l.child c}}
                <li><a href="#{{c.title}}" class="smooth">
                    <span class="title">{{c.title}}</span>
                    {{if c.label}}
                    <span class="label pull-right hidden-collapsed label-{{c.label.color}}">{{c.label.title}}</span>
                    {{/if}}
                </a></li>
            {{/each}}
        </ul>
    {{/if}}
</li>
{{/each}}
</ul>
</script>
<!-- 列表模板 -->
<script id="list" type="text/html">
{{each list l}}
    {{if l.nav}}
    <div class="nav-item" id="{{l.title}}">
        <h4 class="text-gray"><i class="fa fa-bookmark-o" style="margin-right: 7px;"></i>{{l.title}} 
            <span class="nav-count">({{ l.nav | getNavLength l.title}})</span>
        </h4>
        <div class="row">
            {{each l.nav n}}
            <div class="col-sm-3 col-lg-2">
                <div class="xe-widget xe-conversations box2 label-info site-box" data-toggle="tooltip" data-placement="bottom" title="" data-url="{{n.url}}">
                    <div class="xe-comment-entry">
                        <a class="xe-user-img">
                            {{if n.image}}
                            <img data-src="assets/images/logos/{{n.image}}" class="lozad">
                            {{else}}
                            <span style="background:{{n.title | randomColor}}">{{n.title | titleFirstWord}}</span>
                            {{/if}}
                        </a>
                        <div class="xe-comment"> 
                            <p class="title xe-user-name overflowClip_1">{{n.title}}</p>
                            <p class="desc overflowClip_2">{{n.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>  
    </div>
    {{/if}}

    {{if l.child}}
        {{each l.child c}}
        <div class="nav-item" id="{{c.title}}">
            <h4 class="text-gray">
                <i class="fa fa-bookmark-o" style="margin-right: 7px;"></i>{{c.title}} 
                <span class="nav-count">({{c.nav | getNavLength c.title }})</span>
            </h4>
            <div class="row">
                {{each c.nav n}}
                <div class="col-sm-3 col-lg-2">
                    <div class="xe-widget xe-conversations box2 label-info site-box" data-toggle="tooltip" data-placement="bottom" title="" data-url="{{n.url}}">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                {{if n.image}}
                                <img data-src="assets/images/logos/{{n.image}}" class="lozad">
                                {{else}}
                                <span style="background:{{n.title | randomColor}}">{{n.title | titleFirstWord}}</span>
                                {{/if}}
                            </a>
                            <div class="xe-comment">
                                <p class="title xe-user-name overflowClip_1">{{n.title}}</p>
                                <p class="desc overflowClip_2">{{n.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    {{/if}}
{{/each}}
</script>
<script type="text/javascript">
    //缓存名称
    var storageName = 'zk_history'

    $(document).ready(function() {
        refreshStorage()
        render()
        //监听搜索
        $("input[name='search']").bind('input propertychange',function(){
            seach($(this).val())
        })
         //img lazy loaded
         const observer = lozad();
         observer.observe();

        $(document).on('click', '.has-sub', function(){
            var _this = $(this)
            if(!$(this).hasClass('expanded')) {
               setTimeout(function(){
                    _this.find('ul').attr("style","")
               }, 300);
              
            } else {
                $('.has-sub ul').each(function(id,ele){
                    var _that = $(this)
                    if(_this.find('ul')[0] != ele) {
                        setTimeout(function(){
                            _that.attr("style","")
                        }, 300);
                    }
                })
            }
        })

        $("#main-menu li ul li").click(function() {
            $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
            $(this).addClass('active'); // 添加当前元素的样式
        });
        return false;
    });

    var href = "";
    var pos = 0;
    $("a.smooth").click(function(e) {
        $("#main-menu li").each(function() {
            $(this).removeClass("active");
        });
        $(this).parent("li").addClass("active");
        e.preventDefault();
        href = $(this).attr("href");
        pos = $(href).position().top - 30;
    });

    var navTotal = 0 //网站总数
    // 模板渲染
    function render(){
        //注册过滤器，获取标题首个字符，没有logo则显示
        template.defaults.imports.titleFirstWord = function(title){
            return title.substr(0,1)
        }
        //注册过滤器，根据标题获取背景颜色
        template.defaults.imports.randomColor = function(title){
            var colors = ['#084177','#2b580c','#1eb2a6','#721b65','#f8615a','#a8d3da','#a8e6cf','#4f3961','#f1935c']
            var index = title.length % colors.length 
            return colors[index]
        }
        //注册过滤器，获取分类下网站个数
        template.defaults.imports.getNavLength = function(nav,title){
            if(title != "最近使用"){
                navTotal += nav.length
            }
            return nav.length
        }
        var data = navData
        var category = template('menu',data)
        var list = template('list',data)
        document.getElementById('menu-content').innerHTML = category
        document.getElementById('nav-list').innerHTML = list
        $(".nav-total").html(navTotal)
    }

    //搜索
    function seach(keyWord){
        var keyWord = keyWord ? keyWord.toLowerCase() : ''
        $(document).find(".xe-comment").each(function(i,e){
            var title = $(e).find(".title").html().toLowerCase()
            var desc = $(e).find(".desc").html().toLowerCase()
            var url = $(e).parents(".box2").data("url")
            var parent = $(e).parents(".col-sm-3")
            if((title.indexOf(keyWord) != -1 || desc.indexOf(keyWord) != -1) || url.indexOf(keyWord) != -1){
                if(parent.hasClass("hide")){
                    parent.removeClass("hide")
                }
            }else if(!parent.hasClass("hide")){
                parent.addClass("hide")
            }
        })
    }

    //刷新最近访问历史
    function refreshStorage(){
        var history = localStorage.getItem(storageName)
        if(!history){
            return
        }
        history = JSON.parse(history)
        navData.list[0].nav = history
    }

    //重新渲染历史访问
    function reloadHistory(){
        refreshStorage()
        $("#最近使用").remove()
        var data = {list: []}
        data.list.push(navData.list[0])
        var list = template('list', data)
        $("#nav-list").prepend(list)
        const observer = lozad();
        observer.observe();
    }

    //历史记录 入栈
    function pushHistory(data,deleteData){
        var history = localStorage.getItem(storageName)
        var deleteData = deleteData || ''
        history = JSON.parse(history)
        if(!history){
            history = []
            history.push(data)
        }else{
            for(var i = history.length -1;i>= 0;i--){
                if(history[i].url == deleteData){
                    history.splice(i,1)
                    continue
                }
                history[i+1] = history[i]
            }
            history[0] = data
        }
        localStorage.setItem(storageName,JSON.stringify(history))
    }

    //访问链接
    $(document).on("click",".site-box",function(e){
        var url = $(this).data("url")
        window.open(url)
        var history = localStorage.getItem(storageName)
        history = JSON.parse(history)
        var inList = false
        if(history){
            for(var i=0;i<history.length;i++){
                if(url == history[i].url){
                    //将位置放到首个
                    pushHistory(history[i],history[i].url)
                    inList = true
                    break;
                }
            }
        }
        if(!inList){
            //不在历史列表中
            var title = $(this).find(".title").html()
            var desc = $(this).find(".desc").html()
            var image = ""
            if($(this).find(".xe-user-img img").length > 0){
                //有logo
                var imageUrl = $($(this).find(".xe-user-img img")[0]).data('src')
                var tmp = imageUrl.split('/')
                if(tmp.length > 0){
                    image = tmp[tmp.length-1]
                }
            }
            var data = {
                title: title,
                url: url,
                desc: desc,
                image: image
            }
            pushHistory(data)
        }
        reloadHistory()
    })

</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/resizeable.js"></script>
<script src="assets/js/xenon-toggles.js"></script>
<script src="assets/js/xenon-custom.js"></script>
<script src="assets/js/lozad.js"></script>